<div id="navlink"><a href="../sitemap/" target="_parent" onmouseover="mouseoversound.playclip()" onmouseout="clicksound.playclip()" >sitemap</a></div>

	<div id="navlink"><a href="../about/" target="_parent" onmouseover="mouseoversound.playclip()"  onmouseout="clicksound.playclip()">about me</a></a></div>

	<div id="navlink"><a href="../journal/" target="_parent" onmouseover="mouseoversound.playclip()"  onmouseout="clicksound.playclip()">journal</a></div>

	<div class="dropdown">
		<div id="navlink"><a target="_parent">media fanpages</a></div>
		<div class="dropdown-content" style="width:153px">
		  <a target="_parent" onmouseover="mouseoversound.playclip()">Pokemon <img src="../ppf2.gif" class="deco"></a>
		  <a target="_parent" href="../digimon/" onmouseover="mouseoversound.playclip()">Digimon <img src="../digiegg.gif" class="deco"></a>
		  <a target="_parent" href="../undertale/" onmouseover="mouseoversound.playclip()">Undertale <img src="../soul.png" class="deco"></a>
		</div>
	</div>

	<div class="dropdown">
		<div id="navlink"><a target="_parent">collections</a></div>
		<div class="dropdown-content" style="width:108px">
		  <a target="_parent"  onmouseover="mouseoversound.playclip()" href="../pokemon/fennekin"><img src="../pokemon/fennekin/fennekin sprite.png" class="deco">Fennekin </a>
		  <a target="_parent"  onmouseover="mouseoversound.playclip()" href="../pokemon/flareon"><img src="../pokemon/flareon/sprite.png" class="deco"> Flareon</a>
		</div>
	</div>
	
	<div id="navlink"><a href="../sites/" target="_parent" onmouseover="mouseoversound.playclip()"  onmouseout="clicksound.playclip()">outlinks</a></div>