<img src="../paws.png">
<img src="../computer.gif">
<img src="../vscode.gif">
<img src="../tokomonprotect.gif" width="88">
<a href="https://nekoweb.org/" target="_top">
<img src="https://nekoweb.org/assets/buttons/button5.gif"></a>
<img src="../internetanimal.png"> <img src="../desktop.gif"><br>
All assets used on Digimon pages were provided by <a href="https://gallery.withthewill.net/index.php?cat=93" target="_top">With the Will's Digimon Style Guide</a> and <a href="https://wikimon.net">Wikimon.</a><br>
<a href="mailto:chimera@null.net" target="_top">email me</a> | est. 2023 - 20XX</div>

<script>
    let relativePath = ".";
if ( url.includes("about/") ) {
  relativePath = "..";
}
</script>