<div id="desktop">
	<div id="navlink"><a href="sitemap/" onmouseover="mouseoversound.playclip()" onmouseout="clicksound.playclip()" >sitemap</a></div>

		<div id="navlink"><a href="about/" onmouseover="mouseoversound.playclip()"  onmouseout="clicksound.playclip()">about me</a></a></div>

		<div id="navlink"><a href="journal/" onmouseover="mouseoversound.playclip()"  onmouseout="clicksound.playclip()">journal</a></div>

		<div class="dropdown">
			<div id="navlink"><a>media fanpages</a></div>
			<div class="dropdown-content" style="width:153px">
			<a href="pokemon/" onmouseover="mouseoversound.playclip()">Pokemon <img src="ppf2.gif" class="deco"></a>
			<a href="digimon/" onmouseover="mouseoversound.playclip()">Digimon <img src="digiegg.gif" class="deco"></a>
			<a href="undertale/" onmouseover="mouseoversound.playclip()">Undertale <img src="soul.png" class="deco"></a>
			</div>
		</div>

		<div class="dropdown">
			<div id="navlink"><a>collections</a></div>
			<div class="dropdown-content" style="width:108px">
			<a  onmouseover="mouseoversound.playclip()" href="pokemon/fennekin"><img src="pokemon/fennekin/fennekin sprite.png" class="deco">Fennekin </a>
			<a  onmouseover="mouseoversound.playclip()" href="pokemon/flareon"><img src="pokemon/flareon/sprite.png" class="deco"> Flareon</a>
			</div>
		</div>
		
		<div id="navlink"><a href="sites/" onmouseover="mouseoversound.playclip()"  onmouseout="clicksound.playclip()">outlinks</a></div>

		<div id="navlink"><a href="https://chimera.atabook.org" target="top" onmouseover="mouseoversound.playclip()"  onmouseout="clicksound.playclip()">guestbook <img src="https://chimera.pet/new01.gif" width="30px"></a></div>
</div>

<div id="mobilemenu">
	<details>
		<summary><img src="hamburgermenu.png" alt="Hamburger menu for mobile navigation" style="width:50px"></summary>
		<div id="navlink"><a href="sitemap/" onmouseover="mouseoversound.playclip()" onmouseout="clicksound.playclip()" >sitemap</a></div>

			<div id="navlink"><a href="about/" onmouseover="mouseoversound.playclip()"  onmouseout="clicksound.playclip()">about me</a></a></div>

			<div id="navlink"><a href="journal/" onmouseover="mouseoversound.playclip()"  onmouseout="clicksound.playclip()">journal</a></div>

			<div class="dropdown">
				<div id="navlink"><a>media fanpages</a></div>
				<div class="dropdown-content" style="width:153px">
				<a href="pokemon/" onmouseover="mouseoversound.playclip()">Pokemon <img src="ppf2.gif" class="deco"></a>
				<a href="digimon/" onmouseover="mouseoversound.playclip()">Digimon <img src="digiegg.gif" class="deco"></a>
				<a href="undertale/" onmouseover="mouseoversound.playclip()">Undertale <img src="soul.png" class="deco"></a>
				</div>
			</div>

			<div class="dropdown">
				<div id="navlink"><a>collections</a></div>
				<div class="dropdown-content" style="width:108px">
				<a  onmouseover="mouseoversound.playclip()" href="pokemon/fennekin"><img src="pokemon/fennekin/fennekin sprite.png" class="deco">Fennekin </a>
				<a  onmouseover="mouseoversound.playclip()" href="pokemon/flareon"><img src="pokemon/flareon/sprite.png" class="deco"> Flareon</a>
				</div>
			</div>
			
			<div id="navlink"><a href="sites/" onmouseover="mouseoversound.playclip()"  onmouseout="clicksound.playclip()">outlinks</a></div>

			<div id="navlink"><a href="https://chimera.atabook.org" target="top" onmouseover="mouseoversound.playclip()"  onmouseout="clicksound.playclip()">guestbook <img src="https://chimera.pet/new01.gif" width="30px"></a></div>
	</details>
</div>
